body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

*,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

/* login button */
.login-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.login-button button {
  font-size: 15px;
  font-weight: bold;
  padding: 5px 20px;
  background-color: #ca047b;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.login-button button:hover {
  background-color: #ddd;
}
