.header {
  background-color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
}

.mag {
  color: #ca047b;

  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.black {
  color: #000;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.search-bar {
  margin: 0 auto;
  width: 50%;
  background-color: white;
  border: 2px solid #ccc;
  border-radius: 15px;
  overflow: hidden;
}

input {
  padding: 8px;
  width: 100%;
  border: none;
  border-radius: 15px;
  outline: none;
}

.circle-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 40px;
}

.circle {
  width: 150px;
  height: 150px;
  background-color: rgba(229, 110, 182, 0.81);
  border-radius: 50%;
  display: flex;
  color: #fff;
  font-size: 24px;
  
  font-weight: bold;
  background: url('/profile.png'),
    rgba(229, 110, 182, 0.81) -147.429px -64.061px / 234.432% 193.939% no-repeat;
}
.circle img {
  width: 100%;
  height: 100%;
  object-fit:fill;
}

.profile-name {
  color: #ca047b;
  margin-top: 10px;
  font-family: Inter;
  font-size: 23px;
  font-weight: 700;
  line-height: normal;
}
.logo a {
  text-decoration: none;
  color: inherit;
}
